.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 128px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 661px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.logo > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--foreground);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.navigation li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--foreground);
}

.navigation li:hover,
.navigation li:focus {
  color: #9fb7ce;
}

.authorization {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  background-color: transparent;
}

.login > p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--foreground);
}

.registration {
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: #121417;
}
