.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--foreground);
  margin-bottom: 20px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 438px;
  height: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: var(--foreground);
}

.form > .inputBox:not(:last-child) {
  margin-bottom: 18px;
}

.error {
  color: #d93025;
  font-size: 14px;
  margin-top: 4px;
}

.submit {
  border-radius: 12px;
  padding: 16px 187px;
  width: 438px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--foreground);
  background-color: #9fb7ce;
  margin-top: 40px;
}

.submit:hover,
.submit:focus {
  background-color: #bfd6ea;
}
