.section {
  background-color: #f8f8f8;
  padding: 96px 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 53px;
  margin-bottom: 64px;
}

.button {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background-color: #9fb7ce;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--foreground);
}

.button:hover,
.button:focus {
  background-color: #bfd6ea;
}
