.section {
  padding: 0px 64px 32px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.infoContainer {
  border-radius: 30px;
  width: 720px;
  height: 530px;
  padding: 98px 108px 98px 64px;
  background-color: #f8f8f8;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--foreground);
  margin-bottom: 32px;
}

.title > span {
  font-style: italic;
  font-weight: 400;
  background-color: #bfd6ea;
  border-radius: 12px;
}

.info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: var(--foreground);
  width: 471px;
  margin-bottom: 64px;
}

.button {
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background-color: #9fb7ce;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  color: var(--foreground);
}

.button:focus,
.button:hover {
  background-color: #bfd6ea;
}

.list {
  border: 1.5px dashed #9fb7ce;
  border-radius: 30px;
  width: 1312px;
  height: 116px;
  padding: 40px 122px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
}

.list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 36px;
}

.number {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--foreground);
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}
