.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  border-radius: 30px;
  width: 566px;
  background-color: #fff;
  padding: 64px;
  position: relative;
}

.button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}
